* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Comic Neue", cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 48, 48);
}

main {
    font-size: 2rem;
    max-width: 50rem;
    text-align: center;
    border-radius: 25px;
    padding: 3rem;
    background-color: rgb(0, 229, 255);
}

.rating {
}

.rating__heading {
    font-weight: 700;
}

.rating__desc {
    font-size: 1.5rem;
    margin: 2rem 4rem;
}

.rating__list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.rating__list--btn {
    transition: all 0.3s;
    width: 3rem;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
}

.rating__list--btn:hover,
.rating__submit:hover {
    cursor: pointer;
    background-color: aquamarine;
}

.rating__list--btn:focus,
.rating__submit:focus {
    background-color: rgb(48, 59, 180);
}

.rating__list--btn:active,
.rating__submit:active {
    background-color: rgb(0, 255, 26);
}

.rating__submit {
    transition: all 0.3s;
    margin-top: 4rem;
    background-color: white;
    border: none;
    border-radius: 25px;
    width: 60%;
    height: 3rem;
}

.after {
    display: none;
}

.after__thx {
}

.after__thx--score {
}

.after__heading {
}

.after__desc {
}
